{% extends 'base.html.twig' %} 
 {% block stylesheets %}
            <style>
                body{background: url(../assets/img/home-bg.jpg);}
            </style>
        {% endblock %}

{% block body %}
<body> 
	<header class="top-bar">
		<nav class="nav-bar">
		    <a href="./page 1.html"></a>               
			<a href="./page3.html"> </a>
		</nav>
		
	</header><br>
          <a id="HAUT"></a>
	
	<strong></strong><br>
				
	
		
      <div class="container">
		<p>
		</header><br><br>
		
		  <div class="container">
		</p><div class="container"></div>
				<div class="row">
				

	
			</nav>
		
		</header><br><br>
		
		  <div class="container">
		</p><div class="container"></div>	
			
		<div class="row">
			
			
			
		        </div>
	
<div class="row"></div>

  
    	</nav>
		
	</header><br><br>
	
      <div class="container">


<p>

		<strong></strong>



		
    <a bref="HAUT"><strong> </strong></a>
	

</body>


	

		


  

  
	
    

	



		
</body>
{% endblock %}