{% extends 'base.html.twig' %}

{% block title %}!{% endblock %}

{% block body %}
<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.html"></a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html"></a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="post.html"></a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="contact.html"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
                      
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Dimploles et formations</h2>
                            <h3 class="post-subtitle">BUT Réseau et télecommunications</h3>
                             <h4 class="post-subtitle"> De semptembre 2022 à juin 2023 IUT ROANNE</h4>
                              <h5 class="post-subtitle">Baccalauréat S1</h5>
                               <h6 class="post-subtitle">D'octombre 2021 à Juin 2022 2022 Lycée Seydina Limamoulaye </h6>
                        
    
                        <a href="post.html"><h2 class="post-title">Experiences professionnelles</h2></a
                         <h7 class="post-subtitle">DE Juin 2020 à octombre 2021 FAERID Dakart rangements des produits en Zone de stockage </h7>
                         <h8 class="post-subtitle"> Novembre 2021à AOUT 2022 Auchant Dakar Scan des codes-barres avec la douchette</h8>
                        <p class="post-meta">
                            
                           
                            <h2 class="post-title">COMPETENCES</h2>
                            <h9 class="post-subtitle">Creation d'un  page web</h9>
                       
                            <a href="#!">utiliser le langage css et html</a>
                           <a href="#!">Deployer les sypports de transmission</a>
                             <h11 class="post-subtitle">comprendre les principes et standars du codage de m'information</h11>
                             <h12 class="post-subtitle">mesurer et analyser les signaux locaux</h12>
                             <a href="#!">connaisances en python</a>
                            <a href="#!">Configurer les fonctions de base du réseau local</a>
                        </p>
                    
                            
                        </p>
                    </div>
                    
{% endblock %}