{% extends 'base.html.twig' %}

{% block title %}!{% endblock %}

{% block body %}
<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.html"></a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html"></a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="post.html"></a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="contact.html"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
        <!-- Page Header-->
        
                         
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Dimploles et formations</h2>
                            <h3 class="post-subtitle">BUT Réseau et télecommunications</h3>
                             <h4 class="post-subtitle"> De semptembre 2022 à juin 2023 IUT ROANNE</h4>
                              <h5 class="post-subtitle">Baccalauréat S1</h5>
                               <h6 class="post-subtitle">D'octombre 2021 à Juin 2022 2022 Lycée Seydina Limamoulaye </h6>
                        </a>
                        <p class="post-meta">
                            
                            <a href="#!"</a>
                            
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html"><h2 class="post-title">Experiences professionnelles</h2></a
                         <h7 class="post-subtitle">DE Juin 2020 à octombre 2021 FAERID Dakart rangrments des produits en Zone de stockage </h7>
                         <h8 class="post-subtitle"> Novembre 2021à AOUT 2022 Auchant Dakar Scan des codes-barres avec la douchette</h8>
                        <p class="post-meta">
                            
                            <a href="#!"></a>
                            
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">COMPETENCES</h2>
                            <h9 class="post-subtitle">Creation d'un  page web</h9>
                        </a>
                        <p class="post-meta">
                           
                            <a href="#!">utiliser le langage css et html</a>
                            <h10 class="post-subtitle">connaisances en python </h10> 
                             <h10 class="post-subtitle">Deployer les sypports de transmission</h10>
                        </p>
                    
                            
                        </p>
                    </div>
                    
{% endblock %}