
<form class="form-horizontal">
  <fieldset>
    
    <div class="form-group">
    <label for="inputprenom" class="col-lg-2 control-label">prenom</label>
    <div class="col-lg-10">
     <input type="text" class="form-control" id="inputEmail" placeholder="prenom">
      </div>
     <div class="form-group">
      <label for="inputnom" class="col-lg-2 control-label">nom</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="nom">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="Email" class="form-control" id="inputEmail" placeholder="Email">
        <div class="checkbox">
          <label>
            
          </label>
        </div>
      </div>
    </div>
    
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">telechargement</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
          
          
      <label for="select" class="col-lg-2 control-label"></label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>telechargement</option>
         
      </div>
    </div>
  </fieldset>
</form>
<style> 
   <style> 
                    
                    body {
                        
                        background-image:url('https://cdn.pixabay.com/photo/2016/05/24/16/48/mountains-1412683_960_720.png');
                        background: cover; 
                        background-attachment: fixed;            
                        
                        }
                    
                    
                    </style>
                   