{% extends 'base.html.twig' %}

{% block title %}!{% endblock %}

{% block body %}
 <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="index.html">ADJI AWA MBATHIE</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">home</a></li>
                
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/Adjiawa/cv">cv</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/Adjiawa/portfolio">portfolio</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/Adjiawa/formulaire">form</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
        <style>
                body{
                    background-size: cover;
                }
            </style>
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Welcome to my page.</h1>
                            <span class="subheading">I am Adji a student in networks and telecom in Roanne</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title"></h2>
                            <h3 class="post-subtitle">contact: 0744256529</h3>
                            <h4 class="post-title">LOISIRS</h4>
                            <h5 class="post-subtitle">Natation;lecture ;handball</h5>
                        </a>
                        <p class="post-meta">
                    
                            <a href="#!"></a>
                           
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html"><h2 class="post-title"></h2></a>
                        <p class="post-meta">
                            
                            <a href="#!"></a>
                            
                        </p>
                    </div>
                    <div class="couleurs">

                    </div>
{% endblock %}
