{% extends 'base.html.twig' %}

{% block title %}!{% endblock %}

{% block body %}
<!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.html"></a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html"></a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="post.html"></a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="contact.html"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
                        <div class="site-heading">
                            <h1></h1>
                            <span class="subheading"</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Administrer les réseaux et internet</h2>
                            <h3 class="post-subtitle"> Comprendre les principes et standards du codage de l’information</h3>
                             <h4 class="post-subtitle">Je maitrise l'ensemble</h4>
                              <h5 class="post-subtitle">Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications (habilitation électrique</h5>
                               <h6 class="post-subtitle">je sais faire les installation </h6>
                        </a>
                        <p class="post-meta">
                            
                            <a href="#!"</a>
                            
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html"><h2 class="post-title">Connecter les entreprises et les usagers</h2></a>
                         <h7 class="post-subtitle"> Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</h7>
                         <h8 class="post-subtitle">je suis capable de réssoudre presque tous les problémes en mathématiques</h8>
                         <h9 class="post-subtitle"></h9>
                        <p class="post-meta">
                            
                            <a href="#!"></a>
                            
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Créer des outils et applications</h2>
                            <h3 class="post-subtitle">Connaître l’architecture et les technologies d’un site Web (Langages et outils : HTML, CSS, CMS, JS, responsive).</h3>
                            <h class="post-subtitle">Mesurer et analyser les signaux (audio et vidéo, ordres de grandeurs, comprendre la dualité temps/fréquence et utiliser des équipements d’analyse spectrale, avec projets
autour de la chaîne d’acquisition/traitement</h>
                            <h9 class="post-subtitle">j'arrive à faire les cablages basiques et régler des signaus .je sais faire les differentes types de calculs mathématiques et je sais aussi mesurer et analyser un signal</h9>
                        </a>
                        <p class="post-meta">
                            
                            <a href="#!"></a>
                            
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title"></h2>
                            <h3 class="post-subtitle">.</h3>
                        </a>
                        <p class="post-meta">
                            
                            <a href="#!"></a>
                            
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html"><h2 class="post-title"></h2></a>
                        <p class="post-meta">
                            
                            <a href="#!"></a>
                            
                        </p>
                    </div>
                    
{% endblock %}